/* ...existing code... */

:root {
    --foreground-color: #000;
    --background-color: #fff;
}

body.dark-theme {
    --foreground-color: #fff;
    --background-color: #000;
}

/* Range slider - 细线样式 */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 1px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1px;
    height: 16px;
    cursor: pointer;
    border: none;
    border-radius: 0;
}

input[type="range"]::-moz-range-thumb {
    width: 1px;
    height: 16px;
    cursor: pointer;
    border: none;
    border-radius: 0;
}

input[type="range"]::-moz-range-track {
    height: 1px;
    border: none;
}

/* 黑底白线 */
body.dark input[type="range"],
body[style*="black"] input[type="range"] {
    background: white;
}

body.dark input[type="range"]::-webkit-slider-thumb,
body[style*="black"] input[type="range"]::-webkit-slider-thumb {
    background: white;
}

body.dark input[type="range"]::-moz-range-thumb,
body[style*="black"] input[type="range"]::-moz-range-thumb {
    background: white;
}

body.dark input[type="range"]::-moz-range-track,
body[style*="black"] input[type="range"]::-moz-range-track {
    background: white;
}

/* 白底黑线 */
body.light input[type="range"],
body[style*="white"] input[type="range"] {
    background: black;
}

body.light input[type="range"]::-webkit-slider-thumb,
body[style*="white"] input[type="range"]::-webkit-slider-thumb {
    background: black;
}

body.light input[type="range"]::-moz-range-thumb,
body[style*="white"] input[type="range"]::-moz-range-thumb {
    background: black;
}

body.light input[type="range"]::-moz-range-track,
body[style*="white"] input[type="range"]::-moz-range-track {
    background: black;
}

/* ...existing code... */